/* ==================
    Hero2
===================*/



#hero2 {

    ul {
        display: grid;
        li {
            img {
                width:15%;
            }
        }
    }
}

#hero2imgs {

    ul {
        display: grid;
        li {
            img {
                width: 100%;
            }
        }

        @include md {
            grid-area: hero2imgs;
            grid-template-areas: "hero2imgs hero2imgs";
            grid-template-columns: 55% 45%;
        }


        #hero2-3{
            display: none;
        }
    }

    
}