


//write classes and id
//ids for ur sections
#new {
    
    img {
        max-width: 100%;
    }

@include xl {
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". skills .";

    
}

    #new-content {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". new-content .";

        >div {
            grid-area: new-content;
        }
    }
}