/* =============
    Header
============= */

header {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-areas: ". header .";

    
    
    img{
        background-position: center;
        max-width: 1250px;
    }

    >div {
        grid-area: header;
    }


}