/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

    >div{
        border: 1px solid rgb(255, 0, 0);
        grid-area: header;
    }
}